<div class="container">
  <div class="row col">
<md-button name="button" ng-click="vc.goBackClick()">Go Back</md-button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>How did they hear about Fix-It?</th>
          <th>Willing to consider follow-up events?</th>
          <th>Why are they interested in volunteering?</th>
          <th>Previous IT Experience?</th>
          <th>Skills</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="people in vc.volunteersObject.volunteers">
          <td>
            <span>{{people.first_name}}</span>
          </td>
          <td>
            <span>{{people.last_name}}</span>
          </td>
          <td>
            <span ng-show="!volunteerform.$visible" editable-text="people.heard_about" e-class="heard_about" e-form="volunteerform">{{people.heard_about}}</span>
          </td>
          <td>
            <span ng-show="!volunteerform.$visible" editable-text="people.follow_up" e-class="follow_up" e-form="volunteerform">{{people.follow_up}}</span>
          </td>
          <td>
            <span ng-show="!volunteerform.$visible" editable-text="people.why_volunteer" e-class="why_volunteer" e-form="volunteerform">{{people.why_volunteer}}</span>
          </td>
          <td>
            <span ng-show="!volunteerform.$visible" editable-text="people.previous_experience" e-class="previous_experience" e-form="volunteerform">{{people.previous_experience}}</span>
          </td>
          <td>
            <form onaftersave="vc.editVolunteer(people)" editable-form name="volunteerform" ng-show="volunteerform.$visible" >
              <button type="submit" class="btn btn-link" ng-disabled="volunteerform.$waiting">
                <i class="material-icons">save</i>
              </button>
              <button type="button" ng-disabled="volunteerform.$waiting" ng-click="volunteerform.$cancel()" id="warn" class="btn btn-link">
                <i class="material-icons">cancel</i>
              </button>
            </form>
            <div ng-show="!volunteerform.$visible">
              <button type="button" class="btn btn-link" ng-click="volunteerform.$show()">

                 <i class="material-icons">mode_edit</i>
              </button>
            </div>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
