<div class="container">
<!-- 
  <md-input-container>
            <label>Sort Events</label>
            <md-select ng-model="">
              <md-option ng-repeat="event in ec.events" ng-value="" ng-disabled="">
                {{}}
              </md-option>
            </md-select>
  </md-input-container> -->

  <h2>Events Table</h2>
  <p>Our event history can be viewed here</p>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in ec.eventObject.events">
        <td>{{event.event_name}}</td>
        <td>{{event.event_location}}</td>
        <td>{{event.event_date}}</td>
        <td>{{event.starting_time}}</td>
        <td>{{event.ending_time}}</td>
        <td><md-button ng-click="ec.editEvent(event)" class="md-raised">Edit</md-button></td>
        <td><md-button ng-click="ec.deleteThisEvent(event)" class="md-raised">Delete</md-button></td>
      </tr>
    </tbody>
  </table>
</div>
