
<p>You can see who has RSVP'd to an event here -->
  <a href="#events/rsvp">Event RSVP View(WIP)</a>
</p>

<div class="container">
<h2 style="text-align:center ">Events Table</h2>
<p>Our event history can be viewed here</p>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Check In</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="event in ec.eventObject.events">
      <!-- Table Columns using Xeditable -->
      <td>
        <span ng-show="!eventform.$visible" editable-text="event.event_name"
        e-class="event_name" e-form="eventform">{{event.event_name}}</span>
      </td>
      <td>
        <span ng-show="!eventform.$visible" editable-text="event.event_location"
        e-class="event_location" e-form="eventform">{{event.event_location}}</span>
      </td>
      <td>
        <span ng-show="!eventform.$visible" editable-text="event.event_date"
        e-class="event_date" e-form="eventform">{{event.event_date}}</span>
      </td>
      <td>
        <span ng-show="!eventform.$visible" editable-text="event.starting_time"
        e-class="starting_time" e-form="eventform">{{event.starting_time}}</span>
      </td>
      <td>
        <span ng-show="!eventform.$visible" editable-text="event.ending_time"
        e-class="ending_time" e-form="eventform">{{event.ending_time}}</span>
      </td>
      <td><button type="button" class="btn btn-link" ng-click="ec.storeThisEvent(event)">Check In</button></td>
      <!-- Action Buttons -->
      <td class="btnLinks">
        <form onaftersave="ec.editEvent(event)" editable-form name="eventform" ng-show="eventform.$visible" >
          <button type="submit" class="btn btn-link" ng-disabled="eventform.$waiting">
            <i class="material-icons">save</i>
          </button>
          <button type="button" ng-disabled="eventform.$waiting" ng-click="eventform.$cancel()" id="warn" class="btn btn-link">
            <i class="material-icons">cancel</i>
          </button>
        </form>
        <div ng-show="!eventform.$visible">
          <button type="button" class="btn btn-link" ng-click="eventform.$show()">

             <i class="material-icons">mode_edit</i>
           </button>
            <button type="button" class="btn btn-link" id="warn" ng-click="ec.deleteThisEvent(event)">

              <i class="material-icons">delete</i>
             </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
