<div ng-include="'views/partials/nav.html'"></div>
<div class="newEvent">

<label for="title">Title: </label>
<input type="text" ng-model="ec.newEvent.title" id="title" placeholder="Title"/>
<label for="location">Location: </label>
<input type="text" ng-model="ec.newEvent.location" id="location" placeholder="Location"/>
<label for="date">Date: </label>
<input type="text" ng-model="ec.newEvent.date" id="date" placeholder="Date"/>
<label for="startingTime">Starting Time: </label>
<input type="text" ng-model="ec.newEvent.startingTime" id="startingTime" placeholder="Starting Time"/>
<label for="endingTime">Ending Time: </label>
<input type="text" ng-model="ec.newEvent.endingTime" id="endingTime" placeholder="Ending Time"/>
<label for="description">Description: </label>
<input type="text" ng-model="ec.newEvent.description" id="description" placeholder="Description"/>

<md-button md-raised ng-click="ec.addEvent()">Submit</button>

</div>
