<md-menu>
 <!-- Trigger element is a md-button with an icon -->
 <md-button ng-click="$mdMenu.open($event)" aria-label="Open sample menu">
   Filter Volunteers by Skill
 </md-button>
 <md-menu-content>
   <md-menu-item ng-repeat="skill in vc.skillsObject.skills"><md-button ng-click="vc.filterVolunteers(skill.id)">{{skill.skill}}</md-button></md-menu-item>
 </md-menu-content>
</md-menu>
<md-button ng-click="vc.getVolunteers()">Remove Filter</md-button>
<md-button type="button" ng-csv="vc.csvObject" filename="test.csv">Export CSV</md-button>
<md-card>
<md-tabs md-dynamic-height md-border-top>
    <md-tab label="Basic Profile Information">
      <md-table-container class="volunteerTable">
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th id="textAlign" md-column md-numeric>First Name</th>
              <th id="textAlign" md-column md-numeric>Last Name</th>
              <th id="textAlign" md-column md-numeric>Email Address</th>
              <th id="textAlign" md-column md-numeric>Phone Number</th>
              <th id="textAlign" md-column md-numeric>Organization</th>
              <th id="textAlign" md-column md-numeric>Role</th>
              <th id="textAlign" md-column md-numeric>Status</th>
              <th id="textAlign" md-column md-numeric>Edit</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="people in vc.volunteersObject.volunteers">
              <td md-cell id="textAlign">
                <span ng-show="!volunteerform.$visible" editable-text="people.first_name" e-class="first_name" e-form="volunteerform">{{people.first_name}}</span>
              </td>
              <td md-cell id="textAlign">
                <span ng-show="!volunteerform.$visible" editable-text="people.last_name" e-class="last_name" e-form="volunteerform">{{people.last_name}}</span>
              </td>
              <td md-cell id="textAlign">
                <span ng-show="!volunteerform.$visible" editable-text="people.email" e-class="email" e-form="volunteerform">{{people.email}}</span>
              </td>
              <td md-cell id="textAlign">
                <span ng-show="!volunteerform.$visible" editable-text="people.phone" e-style="width:95px;" e-class="phone" e-form="volunteerform">{{people.phone}}</span>
              </td>
              <td md-cell id="textAlign">
                <span ng-show="!volunteerform.$visible" editable-text="people.organization" e-class="organization" e-form="volunteerform">{{people.organization}}</span>
              </td>
              <td md-cell id="textAlign">
                <span ng-show="!volunteerform.$visible" e-ng-options="v.value as v.text for v in vc.roles" editable-select="people.role" e-name="role" e-class="role" e-form="volunteerform">{{ (vc.roles | filter:{value: people.role})[0].text || 'Not set' }}</span>
              </td>
              <td md-cell id="textAlign">
                <span ng-show="!volunteerform.$visible" e-ng-options="v.value as v.text for v in vc.statuses" editable-select="people.status" e-name="status" e-class="status" e-form="volunteerform">{{people.status}}</span>
              </td>
              <td md-cell id="textAlign">
                <form onaftersave="vc.editVolunteer(people)" editable-form name="volunteerform" ng-show="volunteerform.$visible" >
                  <button type="submit" class="btn btn-link" ng-disabled="volunteerform.$waiting">
                    <i class="material-icons">save</i>
                  </button>
                  <button type="button" ng-disabled="volunteerform.$waiting" ng-click="volunteerform.$cancel()" id="warn" class="btn btn-link">
                    <i class="material-icons">cancel</i>
                  </button>
                </form>
                <div ng-show="!volunteerform.$visible">
                  <button type="button" class="btn btn-link" ng-click="volunteerform.$show()">

                    <i class="material-icons">mode_edit</i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-tab>
    <md-tab label="Additional Questions and Skills">
      <div class="row col">
        <md-table-container class="volunteerTable">
          <table md-table>
            <thead md-head>
              <tr md-row>
                <th id="textAlign" md-column md-numeric>First Name</th>
                <th id="textAlign" md-column md-numeric>Last Name</th>
                <th id="textAlign" md-column md-numeric>How did they hear about Fix-It?</th>
                <th id="textAlign" md-column md-numeric>Willing to consider follow-up events?</th>
                <th id="textAlign" md-column md-numeric>Why are they interested in volunteering?</th>
                <th id="textAlign" md-column md-numeric>Previous IT Experience? If so, what?</th>
                <th id="textAlign" md-column md-numeric>Skills</th>
                <th id="textAlign" md-column md-numeric>Edit</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="people in vc.volunteersObject.volunteers">
                <td md-cell id="textAlign">
                  <span>{{people.first_name}}</span>
                </td>
                <td md-cell id="textAlign">
                  <span>{{people.last_name}}</span>
                </td>
                <td md-cell id="textAlign">
                  <span ng-show="!volunteerform.$visible" editable-text="people.heard_about" e-class="heard_about" e-form="volunteerform">{{people.heard_about}}</span>
                </td>
                <td md-cell id="textAlign">
                  <span ng-show="!volunteerform.$visible" e-ng-options="v.value as v.text for v in vc.follow_up" editable-select="people.follow_up" e-name="follow_up" e-class="follow_up" e-form="volunteerform">{{people.follow_up}}</span>
                </td>
                <td md-cell id="textAlign">
                  <span ng-show="!volunteerform.$visible" editable-text="people.why_volunteer" e-class="why_volunteer" e-form="volunteerform">{{people.why_volunteer}}</span>
                </td>
                <td md-cell id="textAlign">
                  <span ng-show="!volunteerform.$visible" editable-text="people.previous_experience" e-class="previous_experience" e-form="volunteerform">{{people.previous_experience}}</span>
                </td>
                <td md-cell id="textAlign">
                  <button type="button" class="btn btn-link" ng-click="vc.volunteerProfileSkills(people.id)">

                    <i class="material-icons">visibility</i>
                  </td>
                  <td md-cell id="textAlign" class="btnLinks">
                    <form onaftersave="vc.editVolunteer(people)" editable-form name="volunteerform" ng-show="volunteerform.$visible" >
                      <button type="submit" class="btn btn-link" ng-disabled="volunteerform.$waiting">
                        <i class="material-icons">save</i>
                      </button>
                      <button type="button" ng-disabled="volunteerform.$waiting" ng-click="volunteerform.$cancel()" id="warn" class="btn btn-link">
                        <i class="material-icons">cancel</i>
                      </button>
                    </form>
                    <div ng-show="!volunteerform.$visible">
                    </button>
                    <button type="button" class="btn btn-link" ng-click="volunteerform.$show()">

                      <i class="material-icons">mode_edit</i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </md-tab>
</md-tabs>
</md-card>
