body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.volunteerProfile {
  margin: 15px;
  margin-right: 300px;
}

.eventCard {
  margin-right: 300px;
  margin-left: 300px;
  padding:15px;
}

.volunteerTable {
  margin-left: 40px;
  margin-right: 40px;
}

.body {
  text-align: left;
  color: black;
}

.rsvpTable {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

#footer {
    position: fixed;
    bottom:0px;
    width: 100%;
    z-index: 50;
}
.footerSpace {
  padding-top: 80px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #ffc107;
  /*color: white;*/
  padding: 15px;
}

#first_name {
  margin-right: 20px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.md-row:hover {
  background-color: #EEEEEE;
}

.skill {
  padding:10px;
}

.skill:hover {
  background-color: #EEEEEE;
}

.container p{
  /*margin-top : 14px;*/
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  /*background-color: #00B8D4;*/
  width: 100%;
  border-radius: 0px;
  font-weight: bold;
}
._md-nav-button-text {
  /*color: #00B8D4;*/
}
md-nav-bar md-nav-ink-bar {
  /*background: #00B8D4*/
}


.btn:focus,.btn:active {
   outline: none !important;
}
#warn {
    color: red !important;
}
