body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
}

.body {
  text-align: left;
  color: black;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #00B8D4;
  color: white;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #00B8D4;
  width: 100%;
  border-radius: 0px;
  font-weight: bold;
}
._md-nav-button-text {
  color: #00B8D4;
}
md-nav-bar md-nav-ink-bar {
  background: #00B8D4
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
