<div ng-controller="FooterController as fc" ng-cloak>
  <md-content class="md-padding" layout="row" layout-align="center center">
    <md-nav-bar
      md-selected-nav-item="currentFooterItem"
      nav-bar-aria-label="footer links">
      <md-nav-item md-nav-href="#about" name="page">About</md-nav-item>
      <md-nav-item md-nav-href="#resources" name="page2">Resources</md-nav-item>
      <md-nav-item md-nav-href="#sponsors" name="page3">Sponsors</md-nav-item>
    </md-nav-bar>
  </md-content>
</div>
