<div ng-controller="NavController as nc" ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#home" name="page1">Home</md-nav-item>
      <md-nav-item ng-if="nc.userUpdate(1)" md-nav-href="#events/add" name="page2">Create a Event</md-nav-item>
      <md-nav-item ng-if="nc.userUpdate(1)" md-nav-href="#events" name="page3">Events</md-nav-item>
      <md-nav-item ng-if="nc.userUpdate(1)" md-nav-href="#volunteers/add" name="page4">Add a Volunteer</md-nav-item>
      <md-nav-item ng-if="nc.userUpdate(1)" md-nav-href="#volunteers" name="page5">Volunteers</md-nav-item>
      <md-nav-item ng-if="nc.userUpdate(2)" md-nav-href="#volunteerProfile" name="page6">Volunteer Profile</md-nav-item>
      <md-button ng-click="nc.userService.logout()">Logout</md-button>
    </md-nav-bar>
  </md-content>
</div>
