<div class="container">
  <h1 class="lead" ng-if="hc.userUpdate(2)">Welcome {{hc.userObject.firstName}}!</h1>
  <h1 class="lead" ng-if="hc.userUpdate(1)">Welcome Admin {{hc.userObject.firstName}}!</h1>

<!--carousel-->
  <div class="carousel js-flickity">
    <div class="carousel-cell">
        <img src="assets/carousel/HabitatAug2017-49.jpg" alt="Fix-It Tech Bell" />
    </div>
    <div class="carousel-cell">
        <img src="assets/carousel/HabitatAug2017-38.jpg" alt="Laptop Repair" />
    </div>
<div class="carousel-cell">
    <img src="assets/carousel/HabitatAug2017-29.jpg" alt="August Fix-It Tech Group Photo" />
    </div>
    <div class="carousel-cell">
    <img src=assets/carousel/HabitatAug2017-37.jpg alt="Repairs in Progress" />
</div>
<div class="carousel-cell">
    <img src="assets/carousel/StateFairAug2017-6.jpg" alt="Fix-It Tech at the State Fair" />
  </div>
  </div>
  <br>
  <br>
  <div><center><h2>Fix-It Tech is a free community technology education event providing
    computer repair, education and resources.</h2></center></div>

<!--Landing page Stuff-->
<h1>Fix-It Events</h1>

<md-button class="md-raised md-primary" type="button" name="button" ng-if="hr.userObject.role = undefined">Sign-Up To Volunteer</md-button>
  <div class="dialog-newsletter-content" layout="row" layout-wrap layout-margin layout-align="center">
</div>


<!--Prompt ?-->
<div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
      <md-dialog layout-padding>
        <h2>Pre-Rendered Dialog</h2>
        <p>
          This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
          template on each opening.
          <br/><br/>
          The Dialog Element is a static element in the DOM, which is just visually hidden.<br/>
          Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
          we restore the element back into its old DOM position.
        </p>
      </md-dialog>
    </div>
  </div>

<!--Event Cards-->
<md-card ng-repeat="event in hc.eventObject.events">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{event.event_name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>Location: {{event.event_location}}</p>
          <p>Date: {{event.event_date | date}}</p>
          <p>Time: {{event.starting_time}} - {{event.ending_time}}</p>
          <p>Description: {{event.event_description}}</p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button href="/auth/google" data-prompt="select_account"
          ng-if="hc.userUpdate(undefined)">Volunteers Login to RSVP</md-button>
          <md-button ng-click="hc.volunteerRSVP(event)" ng-if="hc.userUpdate(2)"
          ng-hide="hc.rsvpObject.rsvp.response = attending">
            RSVP</md-button>
          <div id="rsvp-going"><md-icon class="going" ng_bind="'thumb_up'"
            ng-if="hc.userUpdate(2)" aria-label="thumbs up">
          </md-icon>I'm Going!</div>
        </md-card-actions>
      </md-card>

    </center>
  </div>
