<!-- This is an about fix-it page. -->
<div class="body" layout="column" layout-align="start start">
  <h1 class="md-display-3">About Fix It Tech</h1>
  <p class="md-body-1">
    'Fix-It Tech' events are free community technology education events providing
    computer hardware repair, education and tech support in Minneapolis, St. Paul,
    and other Twin Cities areas.
  </p>
  <h3 class="md-title">Have a Computer Question or Issue?</h3>
  <p class="md-body-1">
    If your computer or laptop is slow, not working, or seems to have a virus, bring it in for free tech support!
    Our volunteers will teach valuable repair skills, answer questions, and give technical advice about your device.
  </p>
  <h3 class="md-title">Details and What to Bring:</h3>
  <p class="md-body-1">
    First come, first served. Labor is FREE. Volunteers can offer advice on purchasing parts online or at local repair stores
    Bring your laptop, and/or desktop tower and power cord.
    Volunteers will help with smartphones and tablets based on capacity.
  </p>
  <h3 class="md-title">Free Workshops and Resources</h3>
  <p class="md-body-1">
    Short sessions will cover basic computer maintenance and Internet safety. Pick up resources, learn about technology education programs and careers. More about Fix-It Tech Workshop topics.
  </p>
  <h3 class="md-title">Get involved</h3>
  <p class="md-body-1">
    Fix-It Tech is run by volunteers and community partners.
    Anyone can join the team to help run the program, coordinate outreach, plan locations and schedule, and of course help with repairs and share tech expertise during events.  Contact the Fix-It Tech core team  to discuss opportunities.  Also see Hennepin County's Fix-it Clinic website  to volunteer to help with tech repairs or bring an item to be fixed.
  </p>
  <h3 class="md-title">Fix-It Tech Event Goals</h3>
  <ul>
    <li class="md-body-1 body"><span class="md-body-2">Community education</span>: offering hands-on technical experience that helps residents get their items fixed; provides a place to get tech questions answered and get tips on how to maintain and protect personal devices;</li>
    <li class="md-body-1 body"><span class="md-body-2">IT workforce development</span>: IT students gain experience in tech support alongside IT professionals and connect with residents concerning their technology needs;</li>
    <li class="md-body-1 body"><span class="md-body-2">Raise awareness of technology programs</span>: the event provides a venue to promote free digital literacy training resources, low cost computer and Internet options, local IT education programs, and IT careers.</li>
  </ul>
</div>
