<!--Here are iFix it resources for anyone to view-->
<div class="container">
  <h1>Repair Guides</h1>
  <div layout="row" flex layout-align="center center" layout-padding>

    <div flex="33">
      <a ng href="https://www.ifixit.com/Device/Mac" style="text-decoration: none !important;">
        <img class="resource-image" ng src="assets/resources/mac.jpg" alt="mac repair">
      </a>
      <br>
      <md-button class="md-primary md-raised resource-button"
      ng-href="https://www.ifixit.com/Device/Mac">Mac</md-button>
    </div>
    <div flex="33">
      <a ng href="https://www.ifixit.com/Device/Tablet" style="text-decoration: none !important;">
        <img class="resource-image" src="assets/resources/ipad.jpg" alt="ipad repair">
      </a>
      <br>
      <md-button class="md-primary md-raised"
      ng-href="https://www.ifixit.com/Device/Tablet">Tablet</md-button>
    </div>
    <div flex="33">
      <a ng href="https://www.ifixit.com/Device/Phone" style="text-decoration: none !important;">
        <img class="resource-image" src="assets/resources/smartphone.jpg" alt="smartphone">
      </a>
      <br>
      <md-button class="md-primary md-raised"
      ng-href="https://www.ifixit.com/Device/Phone">Phone</md-button>
    </div>
  </div>

  <div layout="row" layout-align="center center" layout-padding>
    <div flex="33">
      <a ng href="https://www.ifixit.com/Device/PC" style="text-decoration: none !important;">
        <img class="resource-image" src="assets/resources/pc.jpg"
        alt="pc repair">
      </a>
      <br>
      <md-button class="md-primary md-raised"
      ng-href="https://www.ifixit.com/Device/PC">PC</md-button>
    </div>
    <div flex="33">
      <a ng href="https://www.ifixit.com/Device/Android" style="text-decoration: none !important;">
        <img class="resource-image" src="assets/resources/android-logo.jpg" alt="android logo">
      </a>
      <br>
      <md-button class="md-primary md-raised"
      ng-href="https://www.ifixit.com/Android">Android</md-button>

    </div>
    <div flex="33">
      <a ng href="https://www.ifixit.com/Device/Camera" style="text-decoration: none !important;">
        <img class="resource-image" src="assets/resources/camera.jpg" alt="camera repair">
      </a>
      <br>
      <md-button class="md-primary md-raised resource-button"
      ng-href="https://www.ifixit.com/Device/Camera">Camera</md-button>
    </div>
  </div>
</div>
