<div class="container">
  <h1>Repair Guides</h1>
  <div layout="row" flex layout-align="center center" layout-padding>

    <div flex="33">
        <img class="resource-image"class="resource-image" src="assets/resources/mac.jpg"
        ng href="https://www.ifixit.com/Device/Mac" alt="mac repair">
      <br>
      <md-button class="md-primary md-raised resource-button"
      ng-href="https://www.ifixit.com/Device/Mac">Mac</md-button>
    </div>
    <div flex="33">
        <img class="resource-image" src="assets/resources/ipad.jpg"
        ng href="https://www.ifixit.com/Device/Tablet"
        alt="ipad repair">
      <br>
      <md-button class="md-primary md-raised"
      ng-href="https://www.ifixit.com/Device/Tablet">Tablet</md-button>
    </div>
    <div flex="33">
        <img class="resource-image" src="assets/resources/smartphone.jpg"
        ng href="https://www.ifixit.com/Device/Phone"
        alt="smartphone">
      <br>
      <md-button class="md-primary md-raised"
      ng-href="https://www.ifixit.com/Device/Phone">Phone</md-button>
    </div>
  </div>

  <div layout="row" layout-align="center center" layout-padding>
    <div flex="33">
      <img class="resource-image" src="assets/resources/pc.jpg"
      ng href="https://www.ifixit.com/Device/PC"
      alt="pc repair">
      <br>
      <md-button class="md-primary md-raised"
      ng-href="https://www.ifixit.com/Device/PC">PC</md-button>
    </div>
    <div flex="33">
      <img class="resource-image" src="assets/resources/android-logo.jpg"
      ng href="https://www.ifixit.com/Device/Android" alt="android logo">
      <br>
      <md-button class="md-primary md-raised"
      ng-href="https://www.ifixit.com/Android">Android</md-button>

    </div>
    <div flex="33">
        <img class="resource-image" src="assets/resources/camera.jpg" ng href="https://www.ifixit.com/Device/Camera" alt="camera repair">
      </a>
      <br>
      <md-button class="md-primary md-raised" ng-href="https://www.ifixit.com/Device/Camera">Camera</md-button>
    </div>
  </div>
